<div class="flex-container">
  <div class="left">
    <h2>List of Tutorials</h2>
    <ul>
      {{#each links as |link|}}
      <li {{action "openTutorial" link.url}}>{{link.name}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="right">
    <video id="video" controls="" autoplay="" name="media"><source src="{{chosenOne}}" type="video/mp4"></video>
  </div>
</div>